.pokemon-list li {
  list-style: none;
}

.button-class{
  border: 2px solid lightblue;
  height:50px;
  width: 200px;
  margin-bottom: 10px;
  cursor: pointer;
}


h1{
  font-family: 'Shadows Into Light', cursive;
  margin: 15px
}
